/workshops/unit1/WS03operators/BaseOperations/nbproject/private/
/workshops/unit1/WS03operators/BaseOperations/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/assignments/Unit1/HW02/GradosC a GradosF/nbproject/private/
/assignments/Unit1/HW02/GradosC a GradosF/build/
/assignments/Unit1/HW02/GradosC a GradosK/nbproject/private/
/assignments/Unit1/HW02/GradosC a GradosK/build/
/assignments/Unit1/HW02/GradosF a GradosC/nbproject/private/
/assignments/Unit1/HW02/GradosF a GradosC/build/
/assignments/Unit1/HW02/GradesC a GradesF/nbproject/private/
/assignments/Unit1/HW02/GradesF a GradesC/nbproject/private/
/assignments/Unit1/HW02/GradesC a GradesK/nbproject/private/